.l-playback-button {
  padding: 10px;
}

.l-playback-button-big {
  padding: 20px;
}

.l-scanner-progress {
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

.l-scanner-progress progress {
  min-height: 1px;
  border: none;
}

.l-scanner-progress trough {
  min-height: 1px;
  border: none;
}

.boxed-list {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.boxed-list row {
  padding: 10px;
}
